<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>53579265306-q3fpjqbaof3tgojdl3fa9hd0gg5bte2m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.53579265306-q3fpjqbaof3tgojdl3fa9hd0gg5bte2m</string>
	<key>API_KEY</key>
	<string>AIzaSyAwfPA1Q-Y7upd3MdwdTIXlEZ6ulX64Dv4</string>
	<key>GCM_SENDER_ID</key>
	<string>53579265306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>no.thangphan.PRBuddyy</string>
	<key>PROJECT_ID</key>
	<string>find-d778d</string>
	<key>STORAGE_BUCKET</key>
	<string>find-d778d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:53579265306:ios:c1c4296521b9bc2e</string>
	<key>DATABASE_URL</key>
	<string>https://find-d778d.firebaseio.com</string>
</dict>
</plist>